# nixpacks.toml

[phases.setup]
# Add system packages required for building Python dependencies.
# We explicitly add Python here because providing a setup phase overrides the automatic language detection.
# mariadb, openssl, and zlib provide a more complete set of libraries needed to compile mysqlclient.
nixPkgs = ["python311", "pkg-config", "mariadb", "openssl", "zlib"]
