[phases.setup]
nixPkgs = [
  "python312",                  # or python311, python310, etc., depending on your needs
  "python312Packages.pip",
  "python312Packages.setuptools",
  "python312Packages.wheel",
  "mysql80",                    # for libmysqlclient
  "pkg-config",                 # helps pip find libs
  "gcc",                        # required to build mysqlclient
  "libffi",                     # common dependency
  "openssl"                     # also commonly needed
]
